body {
  background-color: #e4e3e3;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url('https://i.pinimg.com/originals/ab/cf/d2/abcfd29ccfa5d77c15e0a07e4b75a542.jpg');
  background-attachment: fixed;
}
header {
  display: flex;
  align-items: center;
}
@media (max-width: 780px) {
  header {
    flex-direction: column;
  }
}
header .mobile {
  font-size: 35px;
  padding: 5px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
@media (min-width: 550px) {
  header .mobile {
    display: none;
    font-size: 40px;
  }
}
header nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
}
@media (max-width: 780px) {
  header nav {
    justify-content: space-evenly;
  }
}
header nav h1 {
  font-size: 35px;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
@media (max-width: 550px) {
  header nav h1 {
    display: none;
  }
}
header nav a {
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
}
@media (max-width: 780px) {
  header nav a {
    border: 2px solid black;
    margin-bottom: 10px;
    justify-content: space-around;
  }
}
header nav a:hover {
  text-decoration: underline;
  transition: 0.5s;
  color: white;
  background-color: #282e3f;
}
.invisible-text {
  display: none;
}
.taco-picture {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 400px;
  background-image: url('https://images.pexels.com/photos/1113520/pexels-photo-1113520.jpeg?cs=srgb&dl=alphabet-brick-wall-close-up-1113520.jpg&fm=jpg');
  background-position-y: -400px;
  background-size: 100%;
  background-repeat: repeat;
  margin-bottom: 20px;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .taco-picture {
    background-size: 100%;
    background-position: bottom;
    height: 296px;
  }
}
.top-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .top-content {
    flex-direction: column;
  }
}
.top-content h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.top-content .header-text {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid black;
}
@media (max-width: 780px) {
  .top-content .header-text {
    width: 90%;
    justify-content: center;
    margin: 10px;
    border: 2px solid black;
  }
}
.top-content .header-text i {
  margin: 0 auto;
}
@media (max-width: 780px) {
  .top-content p {
    margin: 0 auto;
  }
}
.middle {
  margin: 20px;
  display: flex;
  background-color: #fffdfd;
  border-radius: 10px;
  border: 2px solid black;
}
@media (max-width: 780px) {
  .middle {
    flex-flow: column;
    margin: 10px;
  }
}
.middle ul {
  line-height: 2.5em;
}
.middle .middle-content {
  padding: 10px;
  width: 50%;
}
.middle-content .middle-content img {
  height: auto;
  width: 50%;
  padding: 0;
  margin: 0;
}
.bottom-content {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 10px;
}
@media (max-width: 780px) {
  .bottom-content {
    flex-flow: column;
    margin: 0 auto;
    justify-content: center;
  }
}
.bottom-content .text {
  background-color: white;
  padding: 10px;
  font-size: 2em;
  margin: 0 auto;
  border-radius: 0 10px 10px 0;
  border: 2px solid black;
}
@media (max-width: 780px) {
  .bottom-content .text {
    width: 90%;
    border-radius: 10px;
  }
}
.bottom-content img {
  height: 50%;
  width: 50%;
  border-radius: 10px 0 0 10px;
  border: 2px solid black;
}
@media (max-width: 780px) {
  .bottom-content img {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
  }
}
footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
footer nav {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 20px;
}
@media (max-width: 780px) {
  footer nav {
    justify-content: space-evenly;
  }
}
footer nav a {
  color: #282e3f;
  text-decoration: none;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid black;
}
footer nav a:hover {
  text-decoration: underline;
  transition: 0.5s;
  color: white;
  background-color: #282e3f;
}
